:root {
  --color-background: #101010;
  --color-background-soft: #18181a;
  --color-background-mute: #28272a;
  --color-text: #f1f1f1;
  --color-primary: #007bff;
  --color-primary-soft: #0056b3;

  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-background-soft);
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: var(--color-background-mute);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--color-background-mute);
}

.btn-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-soft);
}
