.app-player {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-background-soft);

  width: 100%;
  padding: 1rem;
  height: 6rem;
  max-height: 6rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.player-info {
  text-align: start;
  margin-block: auto;
}

.player-track-name {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 14px;
  max-width: 400px;
  margin: 0 auto 5px auto;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 0.5rem;
  grid-column: span 3 / span 3;
}

.player-controls-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.player-controls-progress {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.player-controls-progress-bar {
  flex: 1;
  height: 0.5rem;
  background-color: var(--color-background-mute);
  border-radius: 0.125rem;
  cursor: pointer;
  max-width: 60%;
}

.player-controls-progress-fill {
  height: 100%;
  background-color: var(--color-text);
  border-radius: 0.125rem;
  width: 0%;
}

.player-time {
  font-size: 12px;
  color: var(--color-text-mute);
}
